
@{
    ViewBag.Title = "Ürünlerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
     $(document).ready(function () {
        var tbş = $('#tblOffice').DataTable({
            responsive: true,
            "iDisplayLength": 25,
            "autoWidth": true,
            "bServerSide": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/Product/SearchProductAjaxHandler")",
            "sPaginationType": "full_numbers",
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }
            ],
            "aoColumns": [
                { "sName": "Id", "bSortable": false },
                { "sName": "Firma" },
                { "sName": "Urun" },
                {
                    "sName": "Sil", "bSortable": false, "sClass": "text-center", "mRender": function (data, type, row) {
                        return '<button title="Delete" type="button" class="btn btn-danger btn-circle btn-xs" onclick="DeleteProduct(' + row[0]  + ')"><i class="fa fa-minus"></i></button>';
                    }
                },
            ]
         });
        $('#cmbCompany').change(function () {
            $("#cmbProduct").empty();
            GetCompanyProducts();
        });
        $('#cmbCompany').ready(function () {
            GetCompanyProducts();
        });
    })
    function DeleteProduct(id) {
        //alert(id);
        $.ajax({
            type: "POST",
            url: "RemoveProduct",
            dataType: "json",
            data: {
                productId: id
            },
            success: function (data) {
                var table = $('#tblOffice').DataTable();
                table.ajax.reload();
            },
            error: function (x, t, m, b) {
                alert(x.responseText);
            }
        });
    }
    function ShowAddUrun() {
        $('#txtSirketAdi').val('');
        $('#txtUrunAdi').val('');
        $('#popupAddUrun').modal('show');
    }
    function UrunEkle() {
        var companyName = $('#cmbCompany').val();
        var productName = $('#cmbProduct').val();
        //alert(id);
        $.ajax({
            type: "POST",
            url: "AddProduct",
            dataType: "json",
            data: {
                companyName,
                productName,
            },
            success: function (data) {
                var table = $('#tblOffice').DataTable();
                table.ajax.reload();
            },
            error: function (x, t, m, b) {
                alert(x.responseText);
            }
        });
    }
    function GetCompanyProducts()
    {
        var companyId = $('#cmbCompany').val();
        $.ajax({
            type: "POST",
            url: "GetProductList",
            dataType: "json",
            data: {
                companyId: companyId
            },
            success: function (data) {
                $.each(data, function () {
                    $("#cmbProduct").append($("<option></option>").val(this['Id']).html(this['Name']));
            });
                //$($.parseJSON(data)).map(function () {
                //    return $('<option>').val(this.Id).text(this.Name);
                //}).appendTo('#cmbProduct');
            },
            error: function (x, t, m, b) {
                alert(x.responseText);
            }
        });
    }
</script>

<h1>Ürünler</h1>
<hr />
<div class="container">
    <div class="form-group">
        <div class="col-lg-2 col-xs-12">
            <button onclick="ShowAddUrun()" class="btn-default form-control "><i class="fa fa-plus-circle" aria-hidden="true"></i> ÜRÜN EKLE</button>
        </div>
        <div class="col-lg-10 hidden-xs" style="margin-top:4%"></div>
    </div>
    <table  id="tblOffice" >
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Firma</th>
                <th>Ürün</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                 <td>John</td>
                 <td>Doe</td>
                 <th><a href="#"><i class="fa fa-times" style="color:red"></i></a></th>
             </tr>
             <tr>
                 <td>Mary</td>
                 <td>Moe</td>
                 <th><a href="#"><i class="fa fa-times" style="color:red"></i></a></th>
             </tr>
             <tr>
                 <td>July</td>
                 <td>Dooley</td>
                 <th><a href="#"><i class="fa fa-times" style="color:red"></i></a></th>
             </tr>-->
        </tbody>
    </table>
</div>
<div id="popupAddUrun" class="modal fade" tabindex="-1" role="dialog" style="display:none" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Ürün ekle</b></h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 required">
                            <b><label class="control-label">Şirket adı :</label></b>
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("cmbCompany", new SelectList(ViewBag.AllCompanies, "Id", "Name"))
                            @*<input id="txtSirketAdi" class="form-control" />*@
                        </div>
                    </div>
                    <div class="row" style="margin-top:2%">
                        <div class="col-lg-3 required">
                            <b><label class="control-label">Ürün Adı :</label></b>
                        </div>
                        <div class="col-lg-9">
                            <select id="cmbProduct"></select>
                            @*<input id="txtUrunAdi" class="form-control" />*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:left;"><i class="fa fa-times-circle-o"></i> İPTAL</button>
                    <button type="button" class="btn btn-success" onclick="UrunEkle()"><i class="fa fa-check-circle-o"></i> YARAT</button>
                </div>
            </div>
        </div>
    </div>
</div>